<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-location-heading" jhiTranslate="kahoulaPrestationApp.location.home.createOrEditLabel">Create or edit a Location</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!location.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="location.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="kahoulaPrestationApp.location.regionName" for="field_regionName">Region Name</label>
                    <input type="text" class="form-control" name="regionName" id="field_regionName"
                        [(ngModel)]="location.regionName" required/>
                    <div [hidden]="!(editForm.controls.regionName?.dirty && editForm.controls.regionName?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.regionName?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="kahoulaPrestationApp.location.cityName" for="field_cityName">City Name</label>
                    <input type="text" class="form-control" name="cityName" id="field_cityName"
                        [(ngModel)]="location.cityName" required/>
                    <div [hidden]="!(editForm.controls.cityName?.dirty && editForm.controls.cityName?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.cityName?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
