<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="partner">
            <h2><span jhiTranslate="kahoulaPrestationApp.partner.detail.title">Partner</span> {{partner.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="kahoulaPrestationApp.partner.userId">User Id</span></dt>
                <dd>
                    <span>{{partner.userId}}</span>
                </dd>
                <dt><span jhiTranslate="kahoulaPrestationApp.partner.cniImage">Cni Image</span></dt>
                <dd>
                    <span>{{partner.cniImage}}</span>
                </dd>
                <dt><span jhiTranslate="kahoulaPrestationApp.partner.userImage">User Image</span></dt>
                <dd>
                    <span>{{partner.userImage}}</span>
                </dd>
                <dt><span jhiTranslate="kahoulaPrestationApp.partner.references">References</span></dt>
                <dd>
                    <span>{{partner.references}}</span>
                </dd>
                <dt><span jhiTranslate="kahoulaPrestationApp.partner.qualification">Qualification</span></dt>
                <dd>
                    <span>{{partner.qualification}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/partner', partner.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
