<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-partner-heading" jhiTranslate="kahoulaPrestationApp.partner.home.createOrEditLabel">Create or edit a Partner</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!partner.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="partner.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="kahoulaPrestationApp.partner.userId" for="field_userId">User Id</label>
                    <input type="text" class="form-control" name="userId" id="field_userId"
                        [(ngModel)]="partner.userId" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="kahoulaPrestationApp.partner.cniImage" for="field_cniImage">Cni Image</label>
                    <input type="text" class="form-control" name="cniImage" id="field_cniImage"
                        [(ngModel)]="partner.cniImage" required/>
                    <div [hidden]="!(editForm.controls.cniImage?.dirty && editForm.controls.cniImage?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.cniImage?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="kahoulaPrestationApp.partner.userImage" for="field_userImage">User Image</label>
                    <input type="text" class="form-control" name="userImage" id="field_userImage"
                        [(ngModel)]="partner.userImage" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="kahoulaPrestationApp.partner.references" for="field_references">References</label>
                    <input type="text" class="form-control" name="references" id="field_references"
                        [(ngModel)]="partner.references" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="kahoulaPrestationApp.partner.qualification" for="field_qualification">Qualification</label>
                    <input type="text" class="form-control" name="qualification" id="field_qualification"
                        [(ngModel)]="partner.qualification" />
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
