<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="bill">
            <h2><span jhiTranslate="kahoulaPrestationApp.bill.detail.title">Bill</span> {{bill.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="kahoulaPrestationApp.bill.designation">Designation</span></dt>
                <dd>
                    <span>{{bill.designation}}</span>
                </dd>
                <dt><span jhiTranslate="kahoulaPrestationApp.bill.quantity">Quantity</span></dt>
                <dd>
                    <span>{{bill.quantity}}</span>
                </dd>
                <dt><span jhiTranslate="kahoulaPrestationApp.bill.unitPrice">Unit Price</span></dt>
                <dd>
                    <span>{{bill.unitPrice}}</span>
                </dd>
                <dt><span jhiTranslate="kahoulaPrestationApp.bill.jobid">Jobid</span></dt>
                <dd>
                    <span>{{bill.jobid}}</span>
                </dd>
                <dt><span jhiTranslate="kahoulaPrestationApp.bill.status">Status</span></dt>
                <dd>
                    <span jhiTranslate="{{'kahoulaPrestationApp.BillStatus.' + bill.status}}">{{bill.status}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/bill', bill.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
